<div [ngSwitch]="accountService.isAuthenticated()">
    <!-- Details -->
        <div *ngIf="goal.getValue() != null" class="row" style="display:flex;justify-content:center;align-items:center;">
            <div class="col-md-9">
                <div>
                    <!-- First -->

                    <div style="display:flex;justify-content: space-between">
                        <div *ngIf="!this.started.getValue()">
                            <button class="btn btn-secondary active" (click)="start()" type="button">Start</button></div>
                        <div *ngIf="this.started.getValue()">
                            <button class="btn btn-secondary active"
                                    (click)="stop()" type="button">Stop
                            </button>
                        </div>

                        <div *ngIf="this.started.getValue()" style="float: right;"
                             class="chart--large text-black">Elapsed : {{getExpiredTimeForCurrentGoal()}} min
                        </div>

                        <div class="btn-group-toggle" data-toggle="buttons" style="float:right;">
                            <label class="btn btn-secondary active" [routerLink]="['']" [queryParams]="{ }">
                                <input type="checkbox">Back
                            </label>
                        </div>
                    </div>

                    <!-- Second -->
                    <div class="card">
                        <div class="card-header">

                            <div style="text-align: right;">
                                <select class="custom-select custom-select-md mb-1"
                                [(ngModel)]="daysToShow" style="width: 15%; min-width: 90px; max-width: 120px">
                                    <option value='1' selected>Day</option>
                                    <option value='7'>Week</option>
                                    <option value='30'>Month</option>
                                    <option value='0'>All</option>
                                </select>
                         </div>

                            <div style="text-align: center">{{getDaysToShow()}}</div>

                            <div class="progress md-progress" style="height: 20px">
                                        <div *ngIf="daysToShow === '1'  && completedTimeToday(this.goal.getValue()) > 5" class="progress-bar" role="progressbar" [ngStyle]="{'width' : completedTimeToday(this.goal.getValue()) + '%'}"
                                            style="height: 20px" aria-valuemin="0" aria-valuemax="100">{{completedTimeToday(goal.getValue())}}%</div>
                                        <div *ngIf="daysToShow === '1'  && completedTimeToday(this.goal.getValue()) <= 5" style="text-align: center; width: 100%; height: 20px">{{completedTimeToday(goal.getValue())}}%</div>

                                        <div *ngIf="daysToShow === '7'  && completedTimeWeek(this.goal.getValue()) > 5" class="progress-bar" role="progressbar" [ngStyle]="{'width' : completedTimeWeek(this.goal.getValue()) + '%'}"
                                            style="height: 20px" aria-valuemin="0" aria-valuemax="100">{{completedTimeWeek(goal.getValue())}}%</div>
                                        <div *ngIf="daysToShow === '7'  && completedTimeWeek(this.goal.getValue()) <= 5" style="text-align: center; width: 100%; height: 20px">{{completedTimeWeek(goal.getValue())}}%</div>

                                        <div *ngIf="daysToShow === '30'  && completedTimeMonth(this.goal.getValue()) > 5" class="progress-bar" role="progressbar" [ngStyle]="{'width' : completedTimeMonth(this.goal.getValue()) + '%'}"
                                            style="height: 20px" aria-valuemin="0" aria-valuemax="100">{{completedTimeMonth(goal.getValue())}}%</div>
                                        <div *ngIf="daysToShow === '30'  && completedTimeMonth(this.goal.getValue()) <= 5" style="text-align: center; width: 100%; height: 20px">{{completedTimeMonth(goal.getValue())}}%</div>

                                        <div *ngIf="daysToShow === '0'  && completedTime(this.goal.getValue()) > 5" class="progress-bar" role="progressbar" [ngStyle]="{'width' : completedTime(this.goal.getValue()) + '%'}"
                                            style="height: 20px" aria-valuemin="0" aria-valuemax="100">{{completedTime(goal.getValue())}}%</div>
                                        <div *ngIf="daysToShow === '0'  && completedTime(this.goal.getValue()) <= 5" style="text-align: center; width: 100%; height: 20px">{{completedTime(goal.getValue())}}%</div>
                            </div>

                            <div><hr></div>
                            <div style="text-align:left;">
                                Total achieved : {{(goal.getValue() != null ? goal.getValue().total : 0)}}
                                <div style="float:right;">
                                    Days to end : {{daysToEnd(goal.getValue())}}
                                </div>
                            </div>
                            <div style="text-align:left;">
                                Required to end : {{getRequired(goal.getValue())}}
                                <div style="float:right;">
                                    Started date : {{convertDateToLocaleDateString(goal.getValue() != null ? goal.getValue().startDate : null)}}
                                </div>
                            </div>
                            <div style="text-align:left;">
                                Today : {{todayTime(goal.getValue())}} min
                                <div style="float:right;">
                                    Ending date : {{convertDateToLocaleDateString(goal.getValue() != null ? goal.getValue().endDate : null)}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="height: 5px"></div>
                <table *ngIf="this.goal.getValue().sessions.length > 0" class="table table-striped">
                    <thead>
                      <tr class="table-dark">
                        <th>#</th>
                        <th>Date</th>
                        <th>Time (min)</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody *ngFor="let e of getProperSessions(this.goal.getValue()); let i = index" id="accordion">
                      <tr>
                        <th scope="row">{{i + 1}}</th>
                        <td>{{convertDateToLocaleDateString(e.date)}}</td>
                        <td>{{e.duration}}</td>
                        <!-- <td></td>{{e.sessions.length}} -->
                        <td>
                            <i style="font-size: 130%; cursor: pointer;" (click)="deleteSession(e)" class="material-icons">mode_edit</i>
                            <i style="font-size: 130%; cursor: pointer;" (click)="deleteSession(e)" class="material-icons">delete</i>
                        </td>
                      </tr>
                    </tbody>
                  </table>
            </div>


        </div>
</div>
