
<div [ngSwitch]="isAuthenticated()">
    <div *ngSwitchCase="false" class="alert alert-warning">
        <span>You don't have an account yet?</span>&nbsp;
        <a class="alert-link" routerLink="register">Register here</a>
    </div>

    <!-- CREATE BUTTON AT START -->
    <div *ngSwitchCase="true">
        <div style="text-align: center;"
             *ngIf="this.elements.getValue().length == 0 && !this.showGoalDetails.getValue()">
            <button class="btn btn-secondary active"
                    data-target="#exampleModal" data-toggle="modal" type="button">Create
            </button>
        </div>

        <!-- Table -->
        <div class="row" style="display:flex;justify-content:center;align-items:center;"
             *ngIf="this.elements.getValue().length > 0 && !this.showGoalDetails.getValue()">
            <div class="col-md-9">
                <div class="alert alert-dark">
                    <!-- First -->
                    <div style="text-align:left;">
                        <button class="btn btn-secondary active" data-target="#exampleModal" data-toggle="modal"
                                type="button">Create
                        </button>
                        <div class="btn-group-toggle" data-toggle="buttons" style="float:right;">
                            <label class="btn btn-secondary" (click)="this.changeStateOfShowDelete()">
                                <input type="checkbox"> Show delete
                            </label>
                        </div>
                    </div>

                    <!-- Second -->
                    <div *ngFor="let e of elements.getValue(); let i = index" id="accordion">
                        <div class="card">
                            <div class="card-header" id="headingOne'">

                                <div style="text-align:left;">
                                    <button (click)="this.hideAll(i)" [disabled]="this.disable"
                                            aria-controls="collapseOne"
                                            aria-expanded="false" class="btn btn-link" data-toggle="collapse">
                                        {{ e.name }}
                                    </button>
                                    <div style="float:right;" *ngIf="this.showDelete">
                                        <button class="btn btn-outline-danger btn-rounded waves-effect"
                                                data-target="#exampleModal1" (click)="this.setElementToDelete(e.name)"
                                                data-toggle="modal">Delete
                                        </button>
                                    </div>

                                    <div *ngIf="!this.showDelete" style="float:right;font-size: large">
                                        <div>{{packTime(e.id)}}</div>
                                    </div>
                                </div>
                            </div>

                            <!-- Third -->
                            <div aria-labelledby="headingOne" class="collapse hide" data-parent="#accordion"
                                 id="{{'collapseOne' + i }}">
                                <div class="card-body" style="background-color: #ececec; display: block">
                                    <div>Completed : {{0}}%</div><!--TODO ALSO START -->
                                    <div>Started date : {{convertDateToLocaleDateString(e.startDate)}}</div>
                                    <div style="text-align:left;">
                                        Ending date : {{convertDateToLocaleDateString(e.endDate)}}
                                        <div style="float:right;">
                                            <a [routerLink]="['details/']" [queryParams]="{ name: e.name }"
                                               style="font-size: medium" (click)="this.showDetails(e)">Details</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <jhi-modals [elementName]="elementToDelete" (event)="this.reactOnModalsAction($event)"></jhi-modals>
</div>
